@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --foreground-rgb: 0, 0, 0;
    --foreground: #000;
    --foreground-hover: rgb(60, 60, 60);
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background-start: #F0EAD2;
    --background-end: #FFF;
    --primary: #ADC178;
    --secondary: #6C584C;
    --tertiary: #57613C;
    --padding-left: 80px;
    --padding-left-buffered: 98px;
    --max-width: 520px;
    --max-width-stat: 400px;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans';
    color: rgb(var(--foreground));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end))) rgb(var(--background-start));
}

nav {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-left);
    text-align: center;
}

.navLink {
    text-decoration: none;
    color: var(--foreground);
    font-size: medium;
    font-weight: 400;
    padding: 8px 20px;
    border-radius: 8px;
    margin: 0 8px;
    cursor: pointer;
}

.navLink:hover {
    box-shadow: 0 8px 12px 0 rgb(230, 230, 230);
}

.loginContainer {
    display: flex;
    align-items: center;
}

.login {
    background-color: var(--foreground);
    color: var(--background-end);
    padding: 8px 24px;
}

.login:hover {
    background-color: var(--foreground-hover);
}

.icon {
    display: flex;
    align-items: center;
    justify-self: center;
}