@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --foreground-rgb: 0, 0, 0;
    --foreground: #000;
    --foreground-hover: rgb(60, 60, 60);
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background-start: #F0EAD2;
    --background-end: #FFF;
    --primary: #ADC178;
    --secondary: #6C584C;
    --tertiary: #57613C;
    --brown: #A98467;
    --padding-left: 80px;
    --padding-left-buffered: 98px;
    --max-width: 520px;
    --max-width-stat: 400px;
    --box-radius: 12px;
    --input-radius: 4px;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans';
    color: rgb(var(--foreground));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end))) rgb(var(--background-start));
    z-index: 10;
}

nav {
    z-index: 20;
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: 4px var(--padding-left);
    text-align: center;
}

.navLink {
    text-decoration: none;
    color: var(--foreground);
    font-size: medium;
    font-weight: 400;
    padding: 8px 20px;
    border-radius: 8px;
    margin: 0 8px;
    cursor: pointer;
}

.darkShadow:hover {
    box-shadow: 0 8px 12px 0 rgb(60, 60, 60);
}

.lightShadow:hover {
    box-shadow: 0 8px 12px 0 rgb(230, 230, 230);
}

.loginContainer {
    display: flex;
    align-items: center;
}

.login {
    background-color: var(--foreground);
    color: var(--background-end);
    padding: 8px 24px;
}

.icon {
    display: flex;
    align-items: center;
    justify-self: center;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow: hidden;
    width: 100%;
}

.relative {
    position: relative;
}

.hero {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    height: 100%;
    padding-left: var(--padding-left-buffered);
}

.header {
    font-size: xx-large;
    font-weight: 800;
    line-height: 12px;
    letter-spacing: 8px;
}

.brown {
    color: var(--secondary);
}

.darkGreen {
    color: var(--tertiary)
}

.headerText {
    max-width: var(--max-width);
    font-weight: 600;
}

.textMiddle {
    text-align: center;
}

.cta {
    background-color: var(--primary);
    color: var(--background-end);
    border: none;
    border-radius: 4px;
    padding: 12px 52px;
    text-align: center;
    max-width: 248px;
    margin: 20px 0;
    cursor: pointer;
}

.cta:hover {
    background-color: var(--tertiary);
}