.heroImageContainer {
    position: relative;
    flex: 1;
}

.heroImage {
    position: absolute;
    bottom: 0;
    right: 0;
}

.statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--max-width-stat);
    padding: 40px 0;
}

.stat {
    color: var(--tertiary);
}

footer {
    display: none;
    flex: 0 1 40px;
}