
main {
    justify-content: center;
    align-items: center;
}

.brownBackground {
    background-color: var(--secondary);
}

.creamBackground {
    background-color: var(--background-start);
}

.greenBackground {
    background: linear-gradient(0deg, #ADC178, #ADC178), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.loginDiv {
    display: flex;
    flex-direction: row-reverse;
    height: 82%;
    width: 86%;
    border-radius: var(--box-radius);
    z-index: 40;
}

.half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    z-index: 50;
    border-radius: var(--box-radius);
    padding: 0 80px;
}

.lightBrown {
    color: var(--brown);
}

.loginForm {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
}

.loginHeader {
    font-size: xx-large;
    font-weight: 800;
    letter-spacing: 8px;
}

.loginText {
    max-width: var(--max-width);
    font-weight: 600;
    font-size: smaller;
    margin-top: 12px;
    text-align: center;
}

.input {
    height: 24px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--input-radius);
    padding-left: 12px;
    border-color: gray;
    margin-bottom: 12px;
}

.textarea {
    border-radius: var(--input-radius);
    border-color: gray;
    height: 60px;
}

.options {
    position: relative;
}

.forgot {
    position: absolute;
    right: 0;
    text-decoration: none;
    color: red;
}

label {
    position: relative;
}

label:not(:nth-child(2))::after {
    content: '';
    width: 4px;
    height: 4px;
    top: -5px;
    border-radius: 50%;
    position: relative;
    background: red;
    display: inline-block;
}

.loginImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}